# nixpacks.toml

[phases.setup]
nixPkgs = [
    "python3",
    "cairo",
    "pango",
    "gdk-pixbuf",
    "gobject-introspection",
    "harfbuzz",       # Wajib untuk rendering teks modern
    "libffi",
    "dejavu_fonts"    # WAJIB: Tanpa ini PDF gagal dibuat atau kosong
]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn app:app"